h1 {
                color: #00FF00; 
                font-size: 54px;
            }

p {
    color: pink;
    font-size: 15px;
}

button {
    padding: 20px 40px;
    border-radius: 50px;
    border: 0;
}
