#header {
    font-family:sans-serif;
    text-align: left;
    color: black;
    margin: 0;
	background: #fff;
    display: flex;
    height: 40px;
    width: 100% - 120px;
    padding: 60px;
}

#header h1 {
    font-size: 18px;
    width: calc(100vw * 2 / 5)
}

#header h4 {
    font-size: 12px;
    flex: 1;
}